In [18]:
import gmaps

In [19]:
import numpy as np
import pandas as pd
import requests
import time
# Dependencies
import requests
import json
# Google developer API key
from config import gkey
# Retrieve Google API key from config.py
from uszipcode import SearchEngine
import matplotlib.pyplot as plt
import time
marijuana_df=pd.read_csv('CannabisLicData_cleaned.csv')
marijuana_zip=marijuana_df['Zip Code'].value_counts()
marijuana_zip.sort_index(inplace=True)
search = SearchEngine(simple_zipcode=True) # set simple_zipcode=False to use rich info database


zipCodes=pd.read_csv('laZipCodes.csv', encoding = "ISO-8859-1")
zipCodes.head()
marijuana_zipDataFrame = marijuana_zip.to_frame().reset_index()
marijuana_zipDataFrame.columns = ['zip', 'count']


dataSet = []
for zipCode in marijuana_zipDataFrame["zip"] :
    zipcodeData = search.by_zipcode(zipCode).to_dict()
    dataSet.append([zipCode,zipcodeData.get("lat"),zipcodeData.get("lng")])

zipCodesData = pd.DataFrame(dataSet)
zipCodesData.columns = ['zip', 'lat','lng']

In [20]:

newData = pd.merge(zipCodesData, marijuana_zipDataFrame, on='zip', how='outer')
newData.dropna(inplace=True)

In [24]:
locations = newData[["lat", "lng"]].astype(float)
poverty_rate = newData["count"].astype(float)
locations

        lat      lng
0    33.970 -118.250
1    34.030 -118.280
2    34.010 -118.350
3    34.060 -118.240
4    34.044 -118.252
5    34.040 -118.270
6    34.030 -118.360
7    34.030 -118.320
8    34.050 -118.340
9    34.030 -118.240
10   34.020 -118.200
11   34.070 -118.430
12   34.050 -118.440
13   34.080 -118.260
14   34.130 -118.290
15   34.100 -118.330
16   34.090 -118.290
17   34.080 -118.180
18   34.050 -118.210
19   34.030 -118.400
20   34.070 -118.350
21   34.000 -118.290
22   34.090 -118.330
23   34.120 -118.260
24   34.130 -118.210
25   34.110 -118.190
26   33.960 -118.400
27   34.110 -118.370
28   33.950 -118.310
29   34.070 -118.380
..      ...      ...
233  40.200 -123.800
234  40.130 -123.850
235  40.100 -124.000
236  38.560 -121.820
237  38.600 -121.700
238  38.680 -120.820
239  38.400 -121.800
240  38.170 -121.600
241  38.600 -121.000
242  39.100 -120.700
243  38.580 -121.490
244  38.610 -121.450
245  38.580 -121.470
246  38.550 -121.450
247  38.560 -121.490
248  38.540 -121.450
249  38.510 -121.500
250  38.520 -121.440
251  38.540 -121.390
252  38.490 -121.400
253  38.630 -121.550
254  38.650 -121.440
255  39.200 -121.500
256  39.400 -120.800
257  40.600 -122.500
258  40.530 -122.320
259  40.700 -122.300
260  40.680 -122.370
261  41.300 -122.300
262  41.400 -122.400

[262 rows x 2 columns]

In [31]:
gmaps.configure(api_key=gkey)
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=poverty_rate, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 10)

# Adjust heat_layer setting to help with heatmap dissipating on zoom
heat_layer.dissipating = False
heat_layer.max_intensity = 100
heat_layer.point_radius = 1

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))